<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/589ebc73ef.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"
        integrity="sha512-XSL8md+KzAg/ysd1EBcvzQx+8keNkzJ1pogDe+bJN9P5/RW+5c5v5d6Am++F6fmnt8wpD22fCaC/MP1M48hRtg=="
        crossorigin="anonymous"></script>
</head>
<nav class="navbar" style="background-image: url('https://img.freepik.com/premium-photo/blue-sky-watercolor-effect-stains-paint-splatter-grunge-background-texture-soft-blue-pastel-website-banner-design_364465-1395.jpg');
height: 10vh" role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item " href="http://localhost:3000/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/2022_FIFA_World_Cup_Qatar_%28Wordmark%29.svg/2560px-2022_FIFA_World_Cup_Qatar_%28Wordmark%29.svg.png" width="100" height="152">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="mr-3">
            <div class="">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="btn btn-danger" href="/">
                            <strong>
                                <i class="fa-solid fa-house" style="margin-right: 5px;"></i>
                                Home
                            </strong>
                        </a>
                    </div>
                </div>
            </div> 
        </div>

        <div class="">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="btn btn-secondary" href="/players">
                        <strong>
                            <i class="fa-solid fa-person" ></i>
                            Player
                        </strong>
                    </a>
                </div>
            </div>
        </div> 
        <div class="">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="btn btn-secondary" href="/nations">
                        <strong>
                            <i class="fa-solid fa-earth-americas" style="margin-right: 5px;"></i>
                            Nation
                        </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% if(isLogin===false) { %>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary mr-5" href="/users/login">
                        <strong><i class="fa-solid fa-right-to-bracket" style="margin-right: 15px;"></i>Log in</strong>
                    </a>
                </div>
            </div>
        </div>
        <% }else{ %>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="btn btn-success" href="/players">
                                <strong>
                                    <i class="fas fa-info-circle" style="margin-right: 15px;"></i>
                                    More
                                </strong>
                                <!-- <a class="navbar-link ">
                                   
                                </a> -->
                            </a>
                        </div>
                    </div>
                </div> 
               
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/users/edit">
                        Profile
                    </a>
                    <a class="navbar-item" href="/accounts">
                        Accounts
                    </a>
                    <a class="navbar-item" href="/users/logout">
                        Logout
                    </a>
                   
                </div>
            </div>
        <% } %>
    </div>
</nav>