<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
<body style="height: 100vh; background-image: url('https://images7.alphacoders.com/601/601604.jpg'); background-repeat: no-repeat; background-size: cover;">
    <h1 style="text-align: center; margin-top: 100px; font-size: 40px; font-weight: 500; margin-bottom: 20px; color: blanchedalmond;">UPDATE PLAYER</h1>
    <% if(error_msg != ''){ %>
        <div style="position: fixed; bottom: 0; right: 20px; z-index: 3;" class="alert alert-danger" role="alert">
            <%= error_msg %>
        </div>
    <% } %>
    <form method="post" class="container is-max-desktop" style="width: 70%; height: 40%; margin-top: 10px; padding: 20px; background: rgba(245, 245, 245, 0.415); border-radius: 10px;">
      
        <div class="field is-horizontal" style="margin-bottom: 30px; margin-top: 45px;">
            <div class="field-label is-normal">
                <label class="label">Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="name" type="text" required value="<%= nation.name %>">
                    </div>
                    <!-- <p class="help is-danger">
                        This field is required
                    </p> -->
                </div>
            </div>
        </div>
        
    
        <div class="field is-horizontal" style="margin-bottom: 30px;">
            <div class="field-label is-normal">
                <label class="label">Description</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="description" required type="text" value="<%= nation.description %>">
                    </div>
                    <!-- <p class="help is-danger">
                        This field is required
                    </p> -->
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control text-center">
                        <button class="button is-primary" type="submit" style="width: 100px;">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>